{% extends "base.html" %}
{% block title %}Народ{% endblock title %}
{% block header %}Народ{% endblock header %}

{% block content %}

<body>
    <!--form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите возраст</label><br>
            <input type="number" name="age" />
        </p>
        <input type="submit" value="Сохранить" >
    </form-->
    {% if people.count > 0 %}
    <h2>Список пользователей</h2>
    <table>
        <thead><th>Id</th><th>Имя</th><th>Возраст</th><th></th></thead>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <!--td><a href="edit/{{person.id}}">Изменить</a> | <a href="delete/{{person.id}}">Удалить</a></td-->
        </tr>
        {% endfor %}
    </table>
    {% endif %}









<p>Телефон: +12345677890</p>
<p>Email: admin@admin.com</p>
{% endblock content %}
</body>
</html>